body {
    text-align: center;
}
input {
    visibility: hidden;
    border-color: orange;
}
.showInput {
    visibility: visible;
    margin-top: 1%;
    border-radius: 5px;
}
#randomBtn {
    margin-top: 5%;
}
#searchToggle {
    margin-top: 2%;
    background: inherit;
    border: none;
}
#searchToggle:focus {
    border: none;
    outline: none !important;
}
iframe {
    width: 80%;
    height: 700px;
    border: none;
}
