body {
  text-align: center;
}

input {
  visibility: hidden;
  border-color: orange;
}
.showInput {
  visibility: visible;
  margin-top: 1%;
  border-radius: 5px;
}

#randomBtn {
  margin-top: 30%;
}
